last 10 Chrome versions
last 10 Edge versions
last 10 Firefox versions
Firefox ESR
last 3 Safari major versions
last 3 iOS major versions
last 4 ChromeAndroid versions
last 4 Samsung versions
last 4 Opera versions
