---
layout: default
subtitle: <strong>React? No problem!</strong>
---
{% include "site-header.liquid" %}

<h1>React JSX Example</h1>

<div id="root">{{ app_html }}</div>
<script async type="text/javascript" src="{{ relativePathPrefix }}js/app-hydrate.min.js"></script>

{% include "site-footer.liquid" %}
