---
layout: blog
title: Changelog
description: Follow the latest changes of Poops.
collection: true
sort: date
---
<div class="text-center">
  <h1>Changelog</h1>
</div>

{% set byYear = changelog.items | groupby("date", "year") %}
{% for group in byYear %}

  <p>{{ group.key }}</p>
  {% for post in group.items %}
    <p><a href="{{ post.url }}">{{ post.title }}</a> <small>({{ (post.wordcount / 200) | round(0, "ceil") }} min read)</small></p>
  {% endfor %}
{% endfor %}

{% if changelog.totalPages > 1 %}
  {% if changelog.nextPageUrl %}
    <a href="{{ relativePathPrefix }}{{ changelog.nextPageUrl }}">Next</a>
  {% endif %}

  {{ changelog.pageNumber }} of {{ changelog.totalPages }}

  {% if changelog.prevPageUrl %}
    <a href="{{ relativePathPrefix }}{{ changelog.prevPageUrl }}">Previous</a>
  {% endif %}
{% endif %}
