---
layout: blog
title: Changelog
description: Follow the latest changes of Poops.
collection: true
sort: date
---
<div class="text-center">
  <h1>Changelog</h1>
</div>

{% set byYear = changelog.items | groupby("date", "year") %}
{% for group in byYear %}

  <h2 class="h3">{{ group.key }}</h2>
  {% for post in group.items %}
    <p class="d-flex justify-space-between flex-nowrap"><a class="text-decoration-none" href="{{ relativePathPrefix }}{{ post.url }}">{{ post.title }}</a> <small class="pt-4 pl-16"><time style="font-family: monospace; white-space: nowrap;" datetime="{{ post.date | date('YYYY-MM-DD') }}">{{ post.date | date('MMM DD') }}</time></small></p>
  {% endfor %}
{% endfor %}
