---
layout: blog
paginate: 1
---
<div class="text-center">
  <h1>Changelog</h1>
</div>
{% for post in changelog.pageItems %}
  <div class="post">
    <h1><a href="{{ relativePathPrefix }}{{ post.url }}">{{ post.title }}</a></h1>
    <div class="date">{{ post.date }}</div>
    {{ post.description }}
  </div>
{% endfor %}

{% if changelog.nextPageUrl %}
  <a href="{{ relativePathPrefix }}{{ changelog.nextPageUrl }}">Next</a>
{% endif %}

{{ changelog.pageNumber }} of {{ changelog.totalPages }}

{% if changelog.prevPageUrl %}
  <a href="{{ relativePathPrefix }}{{ changelog.prevPageUrl }}">Previous</a>
{% endif %}
