<header class="py-8">
  <div class="container d-flex justify-space-between align-center h-48">
    {% if page.layout != 'default' %}
      <a href="{{ relativePathPrefix }}" class="d-flex flex-row align-center text-primary text-none text-bold font-heading h6">
        <img src="{{ relativePathPrefix }}poop.png" class="d-block mr-8" alt="Poops" width="48" height="48">
        POOPS
      </a>
    {% endif %}

    <nav class="ml-auto">
      {% for link in links %}
        <a href="{{ link.url }}" id="{{ link.title | slugify }}">{{ link.title }}</a>
      {% endfor %}
    </nav>
  </div>
</header>
