#poop {
  font-size: 10rem;
  display: inline-block;
}

code.terminal::before {
  content: '$ ';
  opacity: 0.5;
}

a {
  color: #824F2D;
}

hr {
  border: 0;
  border-top: 3px dashed #824F2D;
  margin: 3rem 0;
}