{% include "site-head.html" %}
  {% block content %} {% endblock %}

  <script type="text/javascript">
    var poop = document.getElementById('poop');

    function getPosition(element) {
      var clientRect = element.getBoundingClientRect();
      return {
        left: clientRect.left + document.body.scrollLeft,
        top: clientRect.top + document.body.scrollTop
      };
    }

    var poopPosition = getPosition(poop);

    var count = 200;
    var defaults = {
      origin: { 
        y: ((poopPosition.top + poop.offsetHeight/2) * 100 / window.innerHeight) / 100,
        x: ((poopPosition.left + poop.offsetWidth/2) * 100 / window.innerWidth) / 100
      }
    };

    function fire(particleRatio, opts) {
      confetti(Object.assign({}, defaults, opts, {
        shapes: ['square'],
        particleCount: Math.floor(count * particleRatio)
      }));
    }

    function explode() {
      fire(0.25, {
        spread: 26,
        startVelocity: 55,
      });
      fire(0.2, {
        spread: 60,
      });
      fire(0.35, {
        spread: 100,
        decay: 0.91,
        scalar: 0.8
      });
      fire(0.1, {
        spread: 120,
        startVelocity: 25,
        decay: 0.92,
        scalar: 1.2
      });
      fire(0.1, {
        spread: 120,
        startVelocity: 45,
      });
    }

    poop.addEventListener('mouseenter', function() {
      explode();
    });

    poop.addEventListener('click', function() {
      explode();
    });

    explode();
  </script>
{% include "site-foot.html" %}
