---
layout: default
subtitle: ✨ <strong>Now supports Front Matter!</strong> ✨
---
{% include "site-header.html" %}
{% include "heading.html" %}

<div class="container my-32">
  <div class="grid grid-gutter">
    <!-- Links loaded from example/markup/_data/features.json -->
    {% for feature in features %}
      <div class="col-12 col-lg-4 my-32">
        <div class="w-48 h-48 round d-flex flex-column align-center justify-center" style="background: #824F2D; color: #DCC8AC">
          {{ feature.icon | safe }}
        </div>
        <h2 class="h4 mb-8 mt-16 text-primary">{{ feature.title }}</h2>
        <p class="p2 m-0">{{ feature.text }}</p>
      </div>
    {% endfor %}
  </div>
</div>

<div class="container text-center">
  <!-- Links loaded from example/markup/_data/links.json -->
  <div class="mb-24 mt-32">
    {% for link in links %}
      <a href="{{ link.url }}" id="{{ link.title | slugify }}">{{ link.title }}</a>
    {% endfor %}
  </div>

  <!-- Links loaded from example/markup/_data/poops.yml -->
  <div>{% for poop in poops.poops %}{{ poop }}{% endfor %}</div>
</div>
